body {
  padding: 2% 25%;
}

body p {
  margin: 0;
}

h2,
h3 {
  margin-bottom: 5px;
}

h3 {
  margin-top: 5px;
}

section {
  text-align: end;
}

section p {
  margin: 5px;
}

.pratical-experience {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}
