body {
  padding: 2% 30%;
}

body p {
  margin: 0;
}

.cv-display h2,
.cv-display h3 {
  margin-bottom: 5px;
}

.cv-display h3 {
  margin-top: 5px;
}

.cv-display section {
  text-align: end;
}

.cv-display section p {
  margin: 5px;
}

.cv-display .pratical-experience {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}
